<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head.ejs") %>
        <title>BlogBlitz-Blog</title>
    </head>
    <body class="bg-gray-900">
        <%- include("./partials/nav.ejs") %>

        <div class="container mx-auto relative m-3">
            <div class="overflow-hidden h-96 w-full relative">
                <img
                    src="<%= blog.coverImage %>"
                    alt="cover-image"
                    class="object-cover h-full w-full"
                />
                <div
                    class="w-full absolute bottom-0 left-0 p-4 bg-gray-300 rounded-md bg-opacity-30"
                >
                    <h1 class="text-white text-3xl"><%= blog.title %></h1>
                </div>
            </div>
            <div class="text-white mt-3"><%- blog.body %></div>
        </div>

        <%- include("./partials/scripts.ejs") %>
    </body>
</html>
